#cim{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#szoveg{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#alcim{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#kep{
    text-align: center;
}

.gomb{
    color: rgb(130, 42, 165);
    align-self: center;
}

body{
    background-color: slategray;
}

footer{
    background-color: rgba(139, 182, 139, 0.801);
    color: rgb(29, 9, 9);                                                                                                                                                                                                                                                                                                                                                                       
    font-size: 80%;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
}