#cim{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#szoveg{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#alcim{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#kep{
    text-align: center;
}

.gomb{
    color: rgb(130, 42, 165);
    align-self: center;
}

body{
    background-color: slategray;
}

